body {
  display: flex;
  flex-direction: row;

  padding: 5rem 10rem;
  justify-content: space-around;

}

#sidebar {
  background-color: red;
  width: 30%;
  padding: 2em;
}

#content {
  background-color: blue;
  width: 45%;
  padding: 2em 5em;
}