body {
  display: flex;
  flex-direction: row;

  padding: 5rem 10rem;
  justify-content: space-around;

  background-color: #403233;

}

#sidebar {
  background-color: #577590;
  color: #CDDDDD;
  width: 30%;
  height: fit-content;
  padding: 2em;

  text-align: center;
}

.title {
  font-size: 6rem;
}

nav {
  margin: 2.5rem 0;
}

nav ol {
  list-style: none;
  font-size: 2rem;
}

nav ol li {
  margin: 1rem 0;
}

#content {
  width: 45%;
  padding: 0 5rem;
}

.content-card {
  margin-bottom: 2rem;
  padding: 4rem;
  background-color: #CDDDDD;
}

.content-card h2 {
  font-size: 3rem;
  margin-bottom: 2rem;
}

.about-paragraph {
  font-size: 1.25rem;
  margin-bottom: 1rem;
  line-height: 1.25;
}

#project-list {
  list-style: none;
}

.project-card {
  margin-bottom: 2rem;
}

.project-card h3 {
  font-size: 1.75rem;
}

.project-card h4 {
  font-size: 1.50rem;
}

.project-card p {
  font-size: 1.25rem;
}