body {
  display: flex;
  flex-direction: row;

  padding: 4rem 10rem;

  background-color: #403233;
}

p {
  font-weight: 350;
}

#sidebar {
  width: 25%;
  height: fit-content;

  text-align: center;
  position: fixed;
  left: 10%;
}

#navigation {
  background-color: #F4EBD9;
  color: black;
  height: fit-content;
  padding: 2em;
  border-radius: 8px;
}

#connection {
  background-color: #F4EBD9;
  color: black;
  padding: 2em;
  margin-top: 2em;
  border-radius: 8px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}


#connection a {
  padding: 1rem 2rem;
  margin: 0.25rem 2rem;
  font-weight: bold;
  text-decoration: none;
}

.github {
  background-color: black;
  color: white;
}

.linkedin {
  background-color: #2867B2;
  color: white;
}

#login {
  background-color: #F4EBD9;
  color: black;
  padding: 2em;
  margin-top: 2em;
  border-radius: 8px;
  display: flex;
}

#login a {
  padding: 1rem 2rem;
  margin: 0.25rem 2rem;
  font-weight: bold;
  text-decoration: none;
}

.title {
  font-size: 3rem;
}

nav {
  margin: 2.5rem 0;
}

nav ol {
  list-style: none;
  font-size: 2rem;
}

nav ol li {
  margin: 1rem 0;
  font-weight: bold;
}

nav a {
  text-decoration: none;
  color: inherit;
  transition: color 0.5s ease;
}

nav a:hover {
  color: #B33951;
}

#content {
  width: 60%;
  padding: 0 5rem;
  position: relative;
  left: 35%;
}

.content-card {
  margin-bottom: 2rem;
  padding: 4rem;
  background-color: #DEC691;
  height: fit-content;
  border-radius: 8px;
}

.content-card h2 {
  font-size: 3rem;
  margin-bottom: 2.5rem;
}

.about-paragraph {
  font-size: 1.25rem;
  margin-bottom: 1rem;
  line-height: 1.25;
}

#about-img {
  float: right;
  width: 50%;
  height: auto;
  margin: 0 0 1rem 2rem;
  border-radius: 4px;
}

#project-list {
  list-style: none;
}

.project-card {
  margin-bottom: 2rem;
}

.project-card h3 {
  font-size: 2rem;
}

.project-card h4 {
  font-size: 1.50rem;
}

.project-card p {
  font-size: 1.25rem;
}

.project-card a {
  text-decoration: none;
  color: #B33951;
  font-weight: bold;
}

#gallery-img {
  max-width: 800px;
  height: 40%;
  max-height: 600px;
}

#next-button, #prev-button {
  padding: 1rem 2rem;
  font-size: 1.5rem;
}

#comment-form {
  display: flex;
  flex-direction: column;
}

#comment-author-group {
  display: flex;
  align-items: center;
}

#comment-author-group label {
  font-size: 1.25rem;
  font-weight: bold;
  margin-right: 1rem;
}

#comment-author-group input[type=text] {
  font-size: 1.25rem;
  padding: 0.25rem;
  flex-grow: 1;
}

#comment-form textarea {
  resize: none;
  height: 5em;
  font-size: 1.25rem;
  padding: 0.5rem;
  margin: 1rem 0rem;
}

#comment-form input[type=submit] {
  align-self: flex-start;
  padding: 0.5rem 2em;
  background-color: #06D6A0;
  color: white;
  font-weight: bold;
  border: 2px solid #05B384;
}

#comment-submit-group {
  display: flex;
  align-items: center;
}

#comment-submit-group p {
  margin: 0 1rem;
}

#comment-form input[type=submit]:hover {
  background-color: #05B384;
}

#comment-info-group {
  display: flex;
}
